<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="#2B2D31" name="theme-color" />

    <link rel="icon" type="image/jpg" href="assets/images/logoy.jpg" />

    <link rel="sitemap" href="/sitemap.xml" />

    <meta property="og:title" content="CJKitten Documentation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cjkitten.github.io/docs/introduction" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://cjkitten.github.io/docs/assets/images/biggybanner.png" />
    <meta property="og:image:alt" content="A Life with a beautiful nature by your side. CJKitten is in your side" />
    <meta name="description" property="og:description" content="Docs for CJKitten" />
    <meta property="og:site_name" content="CJKitten Documentation" />
  </head>
  <body>
    <script is:inline>
      // Redirect your homepage to the first page of documentation.
      // If you have a landing page, remove this script and add it here!
      window.location.pathname = `./introduction.md`;
    </script>
  </body>
</html>
